
.trliveorder-container {
    padding: 20px;
    margin: 10px;
  }

  .trlive-order-cards {
    display: grid;
    height: 85vh;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(10, 1fr);
    gap: 30px;
    overflow-y: auto;
  }
  
  .trlive-order-box {
    border-radius: 10px;
    cursor: pointer;
  }
  

  @media only screen and (max-width: 902px){
    .trlive-order-cards {
        display: grid!important;
        height: 88vh;
        grid-template-columns: repeat(4, 1fr)!important;
        grid-template-rows: repeat(10, 1fr)!important;
        gap: 30px;
        overflow-y: auto;
      }
  }